/* body și html ocupă tot spațiul */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* conținutul paginii se extinde pe tot spațiul disponibil */
.content {
    flex: 1;
}

/* footer */
.site-footer {
    background-color: var(--footer-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
}

.site-footer .social-icons {
    margin-top: 10px;
}

.site-footer .social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.site-footer .social-icons img:hover {
    transform: scale(1.2);
}
