.league-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* background-color: #121212; */
  color: var(--text-color);
  border-radius: 10px;
  overflow: hidden;
}

.league-table thead {
  /* background-color: #e41e26; ro»ôu La Liga */
  position: sticky;
  top: 0;
  z-index: 1;
}

.league-table th {
  padding: 12px 8px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.league-table td {
  padding: 10px 8px;
  font-size: 14px;
  /* border-bottom: 1px solid #2b2b2b; */
}

.league-table tbody tr:nth-child(even) {
  /* background-color: #1e1e1e; */
}

.league-table tbody tr:hover {
  /* background-color: #2a2a2a; */
  transition: background 0.2s ease-in-out;
}

.league-table img {
  width: 38px;
  height: 38px;
  border-radius: 30%;
  object-fit: contain;
  background-color: #fff;
  padding: 1px;
}

/* Responsive */
@media (max-width: 768px) {
  .league-table th,
  .league-table td {
    font-size: 12px;
    padding: 6px;
  }

  .league-table img {
    width: 22px;
    height: 22px;
  }
}
