.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  margin: 10px auto;
  max-width: 1024px;
  border-radius: 10px; /* Mutăm rotunjirea aici */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Mutăm umbra aici */
}

.league-table {
  width: 100%;
  /* max-width: 1024px; */
  border-collapse: collapse;
  /* margin: 10px auto; */
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--text-color);
  background-color: var(--table-color);
  /* border-radius: 10px; */

  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); */
  overflow: visible;

  min-width: 800px;
}

.league-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--navbar-color);
}

.league-table th {
  padding: 12px 8px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.league-table td {
  padding: 10px 8px;
  font-size: 14px;
  border-bottom: 2px solid var(--table-border-color);
}

.league-table tbody tr:nth-child(even) {
  background-color: var(--table-even-color);
}

.league-table tbody tr:hover {
  transition: background 0.2s ease-in-out;
  background-color: var(--table-color-hover);
}

.league-table img {
  width: 38px;
  height: 38px;
  border-radius: 30%;
  object-fit: contain;
  background-color: #fff;
  padding: 1px;
}

/* Responsive */
@media (max-width: 768px) {
  .league-table th,
  .league-table td {
    font-size: 12px;
    padding: 6px;
  }

  .league-table img {
    width: 22px;
    height: 22px;
  }
}
