:root {
    --laliga-bg-color: #7c702c;
    --lalliga-bg-color-even: #706b52;
    --laliga-bg-color-hover: #585440;
    --laliga-thead-color: #c5bc1b;
    --laliga-border-color: #4c4c4c;
}

body.light-mode {
    --laliga-bg-color: #fff4b9;
    --lalliga-bg-color-even: #dfd9b5;
    --laliga-bg-color-hover: #9c9a8b;
    --laliga-thead-color: #ffd900;
    --laliga-border-color: #4c4c4c;
}

.league-table {
  background-color: var(--laliga-bg-color);
}

.league-table thead {
  background-color: var(--laliga-thead-color); 
}

.league-table td {
  border-bottom: 2px solid var(--laliga-border-color);
}

.league-table tbody tr:nth-child(even) {
  background-color: var(--lalliga-bg-color-even);
}

.league-table tbody tr:hover {
  background-color: var(--laliga-bg-color-hover);
}
