h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.team-table {
  width: 100%;
  /* min-width: 900px; */
  max-width: 1024px;
  margin: 10px auto;
  border-collapse: collapse;
  background: var(--table-color);
  color: var(--text-color);
  border-radius: 12px; 
  overflow: visible;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.team-table td {
  border-bottom: 2px solid var(--table-border-color);
}

.team-table thead {
  background-color: var(--navbar-color); /* culoarea echipei, o po»õi schimba */
  color: rgb(255, 255, 255);
}

.team-table th, 
.team-table td {
  padding: 12px 15px;
  text-align: center;
  font-style: bold;
}

.team-table tbody tr:nth-child(even) {
  background-color: var(--table-even-color);
}

.team-table tbody tr:hover {
  background-color: var(--table-color-hover);
  transition: background 0.3s ease;
}

.team-table img {
  width: 45px;
  height: auto;
  object-fit: cover;
}

/* Responsivitate */
@media (max-width: 768px) {
  .team-table th, .team-table td {
    padding: 8px;
    font-size: 0.9rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
}
