:root { /* Tema implicită - dark mode */
    /* General */
    --bg-color: #1e1e1e;
    --text-color: #ffffff;

    /* Navbar */
    --navbar-color: #256f2a;
    --burger-color: var(--text-color);
    --navbar-button-color: var(--navbar-color);
    --navbar-button-hover-color: #004502;
    --navbar-color-mobile: rgba(26, 26, 26, 0.65);

    /* Header */
    --header-color: var(--footer-color);
    --header-button-hover-color: #2c2c2c;

    /* Leagues */
    --card-color: #2b2b2b;

    /* Tables */
    --table-color: #001e03;
    --table-even-color: #00280b;
    --table-color-hover: #000000;
    --table-border-color: #004d0a;

    /* Contact */
    --form-bg-color: #343333;
    --form-btn-color: var(--navbar-color);
    --form-btn-hover-color: var(--navbar-button-hover-color);

    /* Footer */
    --footer-color: #111111;
    --footer-text-color: #bbbbbb;

    /* Up/Down Buttons */
    --updown-btn-bg-color: var(--navbar-color);
}

body.light-mode {
    /* General */
    --bg-color: #f3f4f6;
    --text-color: #121212;

    /* Navbar */
    --navbar-color: #15803D;
    --navbar-button-color: var(--navbar-color);
    --navbar-button-hover-color: #005900;
    --burger-color: var(--text-color);
    --navbar-color-mobile: rgba(200, 200, 200, 0.65);
    
    /* Header */
    --header-color: #ffffff;
    --header-button-hover-color: #859680;

    /* Leagues */
    --card-color: #e6e6e6;

    /* Tables */
    --table-color: #cff5cf;
    --table-even-color: #eaeaea;
    --table-color-hover: #8ad79d;
    --table-border-color: #86aa86;

    /* Contact */
    --form-bg-color: #ffffff;

    /* Footer */
    --footer-color: #1F2937;
    --footer-text-color: #ffffff;
}