:root {
    --up-down-buttons: #000000; /* modifici în funcție de light / dark mode */
}

#upDownButtons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.updown-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    background-color: var(--up-down-buttons);
    color: white;
    font-size: 22px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;
}

.updown-btn:hover {
    transform: scale(1.1);
}
