.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 575px; /* înălțime fixă pentru desktop */
    overflow: hidden;
    max-width: 1024px; /* maxim la desktop */
    margin: 2rem auto;    /* centrare pe ecran */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Pentru ecrane mai mici, să ocupe aproape toată lățimea */
@media (max-width: 1024px) {
    .video-container {
        height: 0;
        max-width: calc(100% - 20px); /* 10px margine stânga/dreapta */
        padding-bottom: 56.25%; /* păstrează proporția 16:9 */
        margin: 2rem auto;
    }
}
