<head>
    <!-- <base href="/SASGoal/"> -->
</head>
<header>
    <div class="header-container">
        <!---------- Logo ------------->
        <div class="logo">
            <img src="images/logo.png" alt="Logo">
        </div>

        <!----------- Search Bar ----------->
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-bar">
            <img src="images/buttons/search-icon-lm.png" alt="Search" class="search-icon">
        </div>

        <!------------- Buttons ---------->
        <div class="header-buttons">
            <a href=""><button title="Favourite team"><img src="images/buttons/favourite_team-logo-lm.png" alt="Favourite Team"></button></a>
            <button title="Profile"><img src="images/buttons/user-icon-lm.png" alt="Profile"></button>
            <button title="Help"><img src="images/buttons/help-icon-lm.png" alt="Help"></button>
            <button title="Dark/Light mode"><img src="images/buttons/dark_mode-icon.png" alt="Toggle between light and dark display mode"></button>
        </div>

        <!------------ Burger button (mobile) -------->
        <div id="mobile-burger-placeholder"></div>
    </div>
</header>