<head>
    <!-- <base href="/SASGoal/"> -->
     <!-- <script></script> -->
</head>
<header>
    <div class="header-container">
        <!---------- Logo ------------->
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>

        <!----------- Search Bar ----------->
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-bar">
            <img id="search-icon" src="/images/buttons/search-icon-lm.png" alt="Search" class="search-icon">
        </div>

        <!------------- Buttons ---------->
        <div class="header-buttons">
            <button title="Favourite team">
                <img id="fav-icon" src="/images/buttons/favourite_team-logo-dm.png" alt="Favourite Team">
            </button>
            <button title="Profile">
                <img id="profile-icon" src="/images/buttons/user-icon-dm.png" alt="Profile">
            </button>
            <button title="Help">
                <img id="help-icon" src="/images/buttons/help-icon-dm.png" alt="Help">
            </button>
            <button id="theme-btn" title="Dark/Light mode">
                <img id="theme-icon" src="/images/buttons/theme-icon-dm.png" alt="Toggle between light and dark display mode">
            </button>
        </div>

        <!------------ Burger button (mobile) -------->
        <div id="mobile-burger-placeholder"></div>
    </div>
</header>