<header>
    <div class="header-container">
        <img src="../images/logo.png" alt="Logo" class="logo">
        <input type="text" placeholder="Search..." class="search-bar">
        <div class="header-buttons">
            <button><img src="/images/favourite_team-logo-lm.png" alt="Favourite Team"></button>
            <button><img src="/images/user-icon-lm.png" alt="User"></button>
            <button><img src="/images/help-icon-lm.png" alt="Help"></button>
            <button><img src="/images/light_mode-icon.png" alt="Dark Mode"></button>
        </div>
    </div>
</header>